* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
}

nav {
    background-color: #c4bdbc;
    display: flex;
    font-weight: bold;
    margin-top: -8px;
    position: fixed;
    margin-right: -px;
    width: 99%;
}
.nav-item {
    position: relative;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
}

.logo {
    width: 80px;
    margin: 5px;
    margin-right: 50px;
    margin-left: 20px;
}

.nav-link:after {
    content: "";
    display: none;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #f8f8f8;
}

.nav-link.active,
.nav-link:hover {
    color: #f8f8f8;
}

.nav-link.active:after,
.nav-link:hover:after {
    display: block;
}

.nav-item:hover .nav-dropdown {
    display: block;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #c4bdbc;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #E8E8E8;
}

.nav-dropdown a {
    display: block;
    padding: 10px;
    color: #314E52;
    text-decoration: none;
}

.nav-dropdown a:hover {
    background-color: #000000;
    color: #f8f8f8;
}

.gambar {
    margin-top: 8px;
    width: 100%;
    height: 600px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin-top: 6px;
    display: grid;
    border-radius: 2px;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
}
.card-pt3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin-top: 6px;
    display: grid;
    border-radius: 2px;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
}
.card-container {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
  }
.card-container-pt3{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 2px;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.harga{
    color: #f8f8f8;
}
table tr th{
    background-color: white;
}



.tableone {
    margin-top: 8px;
    background-color: #000000;
    height: 80px;
    color: black;
}

.lm{
    text-decoration: none;
    color: black;
}
.button{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.text{
    background-color: #000000e3;
    color: white;
    width: 300px;
    padding: 30px;
    position: absolute;
    margin-top: -300px;
    margin-left: 900px;
    border-radius: 2px;
}
.btn-2{
    background-color: white;
    border: none;
    padding: 15px;
    margin-left: 150px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
